.custom-multiselect {
  width: 100%;
  height: 100%;
  border: 1px solid #d8dde6;
  border-radius: 0.25rem;
  background: #fff;
  font-size: 13px;
  padding: 3px;
  color: #080707;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.custom-multiselect:focus {
  border-color: #1589ee;
  box-shadow: 0 0 3px #1589ee;
}

.container {
  display: flex;
  flex-direction: column;
}

.container label {
  font-weight: bold;
  padding-left: 3px;
}
