.table-title {
  margin: 0 0 12px;
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}

.table-section {
  margin: 0 30px 30px;
}

.table-section-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  margin: 0 0 12px;
  padding: 4px 0;
}

.table-section-title:first-child {
  text-decoration: underline;
}

.table-section-title {
  cursor: pointer;
  flex: 0 0 auto;
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}
