.title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.datatable-container {
  margin: 0 30px;
}

.template-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.filters,
.btn-container,
.datatable-container {
  margin: 30px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filters > * {
  flex: 1 1 30%;
  box-sizing: border-box;
}
